.bn-large
  margin: $indentDefault 0 @lg $indentLarge 0
  text-align: center
  img
    max-width: 100%
.bn-block
  margin-bottom: $indentLarge
  z-index: 500
  max-width: 300px
  img
    width: 100%
    display: block
.bn-fix
  margin-bottom: $indentLarge
  z-index: 500
  max-width: 300px
  width: 300px
  &-wrap
    position: relative
    min-height: 30px
  img
    width: 100%
    display: block
  @media $pre-xl-down
    display: none!important
@media $pre-xl-down
  .bn-block
    display: inline-block
    vertical-align: top
  .bn-fix-wrap
    display: none!important
