.footer
  background: $colorBlack
  padding: 42px 0
  position: relative
  &__copy-lang
    text: $colorWhite 13px 1
    padding-top: 15px
  &__text
    margin-top: 30px
    text: rgba($colorWhite,0.5) 13px 1.4
  &__logo
    display: inline-block
    vertical-align: top
    background: url('$rootUrl/solar-logo.svg') no-repeat center
    background-size: cover
    size: 106px 13px
    margin: 9px 0 0
  &__list
    &-item
      margin-bottom: 15px
    &-link
      text: $colorWhite 12px 1
      text-decoration: none
      text-transform: uppercase
.footer-2
  background: $colorBlack
  padding: 30px 0
  position: relative
  @media $lg-down
    & > .main-container > .flex-p-wrap .col-1
      &:first-child
        margin-bottom: 30px
