.header
  &__top
    background: $colorBlack
    height: 50px
    position: relative
    z-index: 150
  &__btn
    size: 50px
    display: inline-block
    vertical-align: top
    background: #2c2d2f
    padding: 18px 0 0 15px
    text-decoration: none
    span
      size: 20px 1px
      background: #c5c5c5
      display: block
      margin-top: 5px
      &:first-child
        margin-top: 0
  &__top-cont
    flex: 0 0 calc(100% - 175px)
    max-width: calc(100% - 175px)
    position: relative
    padding-right: 50px
  &__logo-wrap
    flex: 0 0 175px
    max-width: 175px
    position: static @sm relative
    margin-left: -15px @sm 0
  &__logo
    display: inline-block
    vertical-align: top
    background: url('$rootUrl/solar-logo.svg') no-repeat center
    background-size: cover
    size: 106px 13px
    margin: 19px 0 0 19px
  &__btn-search
    size: 50px
    display: flex
    vertical-align: top
    flex-wrap: wrap
    align-items: center
    justify-content: center
    right: -$indentLarge @sm -$indentDefault
    top: 0
    position: absolute
  &__nav
    position: relative
    padding-right: 22px
    padding-left: 15px
    text-align: right
    display: none @pre-xl block
    &-list
      display: inline-flex
      vertical-align: top
      flex-wrap: wrap
    &-item
      margin-right: 15px @xl 20px
      position: relative
      &--active
        .header__nav-dropdown
          opacity: 1
          visibility: visible
        .header__nav-link
          text: $colorWhite
          &:before
            left: 0
            width: 100%
    &-link
      text: $colorWhite 14px 1 uppercase left
      text-decoration: none
      position: relative
      display: block
      padding: 18px 0
      &:before
        position: absolute
        top: 36px
        left: 50%
        background: $colorRed
        display: block
        content: ''
        size: 0 1px
      &--active,
      &:hover 
        text: $colorWhite
        &:before
          left: 0
          width: 100%
    &-drop
      position: absolute
      top: 50px
      width: 100%
      min-height: 50px
      transition: 0.5s all ease
      background: #2c2d2f
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
      z-index: 100
      padding: 15px 0
      transform: translate(0,-200%)
      opacity: 0
      visibility: hidden
      &--sub
        top: 80px
        background: #575a5d
        z-index: 30
      &--active
        transform: translate(0,0)
        opacity: 1
        visibility: visible
    &-title
      text: $colorWhite 14px 1 uppercase
      margin: 0 0 15px
    &-sub
      &-item
        margin-bottom: 8px
      &-link
        text: $colorWhite 14px 1
        text-decoration: none
        &:hover
          text-decoration: underline
    &-dropdown
      position: absolute
      width: 200px
      min-height: 50px
      background: #2c2d2f
      right: -18px
      top: 48px
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
      opacity: 0
      visibility: hidden
      &:before
        bottom: 100%
        right: 15px
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(44, 45, 47, 0)
        border-bottom-color: #2c2d2f
        border-width: 8px
  &__drop
    size: 22px 50px
    text-align: center
    position: absolute
    top: 0
    right: 0
    &:hover
      .header__drop-cont
        opacity: 1
        visibility: visible
    &-dots
      display: inline-block
      padding: 22px 0 5px
      cursor: pointer
      span
        display: inline-block
        vertical-align: top
        margin: 0 2px
        size: 3px
        border-radius: 100%
        background: #808080
    &-cont
      position: absolute
      width: 200px
      min-height: 50px
      background: #2c2d2f
      right: -11px
      top: 42px
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
      opacity: 0
      visibility: hidden
      &:before
        bottom: 100%
        right: 15px
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(44, 45, 47, 0)
        border-bottom-color: #2c2d2f
        border-width: 8px
    &-list
      text: left
    &-item
      border-top: 1px solid rgba($colorWhite,0.1)
      &:first-child
        border-top: 0
    &-link
      text: $colorWhite 14px 1
      display: block
      padding: 8px 15px
      text-decoration: none
      transition: 0.3s all ease
      &:hover
        background: rgba($colorBlack,0.5)
        text: $colorWhite
  &__cont
    background: #575a5d
    position: relative
    border-bottom: 1px  solid $colorGray
    z-index: 40
  &__sub-nav
    z-index: 40
    display: none @pre-xl flex
    flex-direction: row
    justify-content: center
    &-item
      margin: 0 17px
    &-link
      text: $colorWhite 13px 30px
      text-decoration: none
      &:hover
        text: $colorRed
      &.header__nav-link--active
        text: $colorRed
  &__menu
    position: absolute
    top: 50px
    width: 100% @sm 250px
    left: 0
    background: #2c2d2f
    min-height: 50px
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
    display: none
    // @media $pre-xl-down
    //   max-height: calc(100vh - 50px)
    //   overflow-y: auto
    //   overflow-x: hidden
    &-item
      border-top: 1px solid rgba($colorWhite,0.1)
      position: relative
      &:first-child
        border-top: 0
      @media $pre-xl
        &:hover
          .header__menu-link
            background: rgba($colorWhite,0.1)
          .header__menu-drop
            display: block
    &-link
      display: block
      padding: 10px 30px 10px 15px
      text-decoration: none
      text: 14px 1
      color: $colorWhite!important
      &--active
        background: rgba($colorWhite,0.1)
    &-arrow
      position: absolute
      size: 30px 34px
      top: 0
      right: 0
      z-index: 10
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      cursor: pointer
      transition: 0.3s all ease
      &--active
        transform: rotate(90deg)
    &-drop
      position: static @pre-xl absolute
      top: auto @pre-xl -1px
      left: auto  @pre-xl 100%
      padding: 0 @pre-xl 0 0 0 12px
      display: none
    &-cont
      width: 100% @pre-xl 200px
      max-width: 100%
      min-height: 50px
      background: #575a5d
      position: relative
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
      @media $pre-xl-down
        width: 100%!important
      &:before
        right: 100%
        top: 10px
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(87, 90, 93, 0)
        border-right-color: #575a5d
        border-width: 8px
      @media $pre-xl-down
        [class*="col-"]
          width: 100%
    &-sub
      &-item
        border-top: 1px solid rgba($colorWhite,0.1)
        &:first-child
          border-top: 0
      &-link
        color: $colorWhite!important
        text: 14px 1
        padding: 10px 15px
        display: block
        text-decoration: none
        &:hover
          background: $colorDarkGray
