.installers
  margin-top: 54px
  margin-bottom: 30px
  .select-styler
    width: 203px
    margin: -4px 0 0
  &__list
    margin-top: 10px
    &-item
      box: wrap
      margin-bottom: 5px
    &-img
      display: block
      flex: 0 0 45px
      max-width: 45px
      align-self: center
      img
        display: block
        width: 100%
    &-col
      flex: 0 0 auto
      width: auto
      max-width: 100%
      align-self: center
      padding-left: 12px
    &-name
      text: $colorBlack 14px 1 bold
      transition: 0.3s all ease
      text-decoration: none
      &:hover
        text: $colorBlue
