.modal
  position: absolute
  top: 100px
  left: 50%
  width: 100%
  width: 600px
  min-height: 100px
  background: #fff
  opacity: 0
  transform: translate(-50%, 0) scale(0.5)
  transition: 0.3s all ease
  z-index: -1
  visibility: hidden
  &__in
    z-index: 1004
    opacity: 1
    visibility: visible
    transform: translate(-50%, 0) scale(1)
  &__btn-close
    color: inherit
  &__close
    position: absolute
    top: -25px
    right: 5px @md -25px
    background: svg-load('icons/close.svg', fill: #fff) no-repeat center
    background-size: cover
    size: 26px
    display: block
    cursor: pointer
  &__body
    padding: 15px @md 15px 30px
  &__info-text
    text-align: center
    text: $colorBlack 14px 1.2
    margin: 10px 0 0
  .category-title
    text-align: center
    padding: $indentDefault $indentDefault 0
    margin: 0
  .most-readable__title
    font-size: 14px
#search-modal
  position: fixed
  top: 0!important
  width: 100%
  height: 100%
  background: rgba($colorBlack,0.8)
  .modal__close
    top: 15px
    right: 15px
.search-modal
  &__body
    margin: auto
    padding: 50px 15px 10px @sm 100px 15px 10px
    max-width: 960px
  &__row
    position: relative
  &__input
    border: 0
    border-bottom: 1px solid #6a6a6c
    outline: 0
    padding: 15px 0
    text: $colorWhite 18px 1 bold @sm 24px
    width: 100%
    background: transparent
    &:focus,
    &:active
      & + .search-modal__line
        width: 100%
        left: 0
  &__line
    position: absolute
    left: 50%
    top: 52px @sm 58px
    size: 0 1px
    background: $colorWhite
    transition: 0.3s all ease
  &__advanced-search
    text: $colorLightGray 14px 1
    display: inline-block
    vertical-align: top
    text-decoration: none
    margin: 10px 0 0
    transition: 0.3s all ease
    &:hover
      text: $colorBlue
  &__submit
    position: absolute
    top: 20px
    right: 0
    border: 0
    padding: 0
    background: transparent
    display: block
    text-decoration: none
    cursor: pointer
    outline: 0
    .icon
      fill: $colorRed
