.news-list
  @media (max-width: 640px)
    margin-bottom: 40px
  &__item
    box: wrap
    margin-bottom: $indentDefault
    &--img-small
      .news-list__img-cont
        width: 45px
        margin-right: 10px
      .news-list__name
        margin-top: 0
  &__img-cont
    width: 130px
    margin-right: $indentDefault
  &__img
    display: block
    width: 100%
  &__name
    text: $colorBlack 14px 1.4
    text-decoration: none
    transition: 0.3s all ease
    display: block
    &:hover
      text: $colorBlue
  .col-1
    .news-list__name
      margin-top: 0
.item-time
  text: $colorGray 12px 1
  margin-top: 7px
.news-group
  margin-bottom: 60px
  &-wrap
    margin-top: 56px
.news-list-l
  margin: 5px 0 0
  &__item
    margin-bottom: 17px
  &__name
    text: $colorBlack 16px 1.2 bold
    display: block
    margin-bottom: 6px
    text-decoration: none
    &:hover
      text: $colorBlue
  &__text
    text: $colorDarkGray 14px 1.4
