.pagination
  box: horizontal center
  margin: $indentLarge 0
  &__item
    margin: 0 2px
  &__link
    display: block
    height: 16px
    border: 1px solid $colorGray
    transition: 0.3s all ease
    text: $colorGray 11px 14px
    padding: 0 3px
    text-decoration: none
    text-align: center
    &--active ,
    &:hover
      background: -moz-linear-gradient(top, #8c8c8c 0%, #bdbdbd 100%)
      background: -webkit-linear-gradient(top, #8c8c8c 0%,#bdbdbd 100%)
      background: linear-gradient(to bottom, #8c8c8c 0%,#bdbdbd 100%)
      text: $colorWhite
  &__dots
    text: $colorDarkGray 14px 16px
