.social
  display: inline-flex
  flex-wrap: wrap
  &__item
    margin-left: 8px
    &:first-child
      margin-left: 0
  &__link
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    size: 30px
    border-radius: 100%
    transition: 0.3s all ease
    border: 1px solid #252526
    background: #19191c
    .icon
      fill: #a3a3a4
      transition: 0.3s all ease
    &:hover
      background: $colorBlue
      border-color: $colorBlue
      .icon
        fill: $colorWhite
