.tags
  margin: 30px *
  &__label
    text: $colorRed-2 12px 24px
    margin-right: 5px
    display: inline-block
    vertical-align: top
  &__list
    display: inline-flex
    flex-wrap: wrap
    &-item
      margin-right: 5px
      margin-bottom: 5px
    &-link
      height: 24px
      border: 1px solid $colorRed-2
      transition: 0.3s all ease
      text-align: center
      padding: 0 8px
      text: $colorRed-2 12px 22px
      display: block
      text-decoration: none
      &:hover
        text: $colorBlack
        border-color: $colorBlack
.source
  display: inline-block
  vertical-align: top
  line-height: 24px
  &__label
    display: inline-block
    vertical-align: top
    text: $colorDarkGray 12px
    margin-right: 5px
  a
    text-decoration: none
    text: 12px
