@font-face
  font-family: 'Arial'
  src: url('$rootUrlFonts/Arial/Arial-ItalicMT.eot')
  src: local('Arial Italic'), local('Arial-ItalicMT'),
    url('$rootUrlFonts/Arial/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/Arial-ItalicMT.woff') format('woff'),
    url('$rootUrlFonts/Arial/Arial-ItalicMT.ttf') format('truetype')
  font-weight: normal
  font-style: italic
@font-face
  font-family: 'Arial Narrow'
  src: url('$rootUrlFonts/Arial/ArialNarrow-Bold.eot')
  src: local('Arial Narrow Bold'), local('ArialNarrow-Bold'),
    url('$rootUrlFonts/Arial/ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/ArialNarrow-Bold.woff') format('woff'),
    url('$rootUrlFonts/Arial/ArialNarrow-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Arial'
  src: url('$rootUrlFonts/Arial/Arial-BoldItalicMT.eot')
  src: local('Arial Bold Italic'), local('Arial-BoldItalicMT'),
    url('$rootUrlFonts/Arial/Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/Arial-BoldItalicMT.woff') format('woff'),
    url('$rootUrlFonts/Arial/Arial-BoldItalicMT.ttf') format('truetype')
  font-weight: bold
  font-style: italic
@font-face
  font-family: 'Arial Narrow'
  src: url('$rootUrlFonts/Arial/ArialNarrow.eot')
  src: local('Arial Narrow'), local('ArialNarrow'),
    url('$rootUrlFonts/Arial/ArialNarrow.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/ArialNarrow.woff') format('woff'),
    url('$rootUrlFonts/Arial/ArialNarrow.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Arial Narrow'
  src: url('$rootUrlFonts/Arial/ArialNarrow-Italic.eot')
  src: local('Arial Narrow Italic'), local('ArialNarrow-Italic'),
    url('$rootUrlFonts/Arial/ArialNarrow-Italic.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/ArialNarrow-Italic.woff') format('woff'),
    url('$rootUrlFonts/Arial/ArialNarrow-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic
@font-face
  font-family: 'Arial'
  src: url('$rootUrlFonts/Arial/ArialMT.eot')
  src: local('Arial'), local('ArialMT'),
    url('$rootUrlFonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/ArialMT.woff') format('woff'),
    url('$rootUrlFonts/Arial/ArialMT.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Arial'
  src: url('$rootUrlFonts/Arial/Arial-BoldMT.eot')
  src: local('Arial Bold'), local('Arial-BoldMT'),
    url('$rootUrlFonts/Arial/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/Arial-BoldMT.woff') format('woff'),
    url('$rootUrlFonts/Arial/Arial-BoldMT.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Arial'
  src: url('$rootUrlFonts/Arial/Arial-Black.eot')
  src: local('Arial Black'), local('Arial-Black'),
    url('$rootUrlFonts/Arial/Arial-Black.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/Arial-Black.woff') format('woff'),
    url('$rootUrlFonts/Arial/Arial-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal
@font-face
  font-family: 'Arial Narrow'
  src: url('$rootUrlFonts/Arial/ArialNarrow-BoldItalic.eot')
  src: local('Arial Narrow Bold Italic'), local('ArialNarrow-BoldItalic'),
    url('$rootUrlFonts/Arial/ArialNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Arial/ArialNarrow-BoldItalic.woff') format('woff'),
    url('$rootUrlFonts/Arial/ArialNarrow-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic
