.select-styler
  size: 100% 30px
  background: $colorWhite
  border: 1px solid $colorGray-2
  .jq-selectbox
    &__select
      &-text
        text: $colorGray-3 14px 28px
        padding: 0 $indentLarge 0 $indentDefault
    &__trigger
      position: absolute
      size: 30px
      top: -1px
      right: -1px
      &-arrow
        size: 0
        border-style: solid
        border-width: 8px 7px 0 7px
        border-color: rgba($colorBlack,0.5) transparent transparent transparent
        position: absolute
        top: 50%
        left: 50%
        margin: -4px 0 0 -7px
    &__dropdown
      background: $colorLightGray
      width: auto
      margin: 3px -1px
      left: 0
      right: 0
      ul
        padding: 0
        margin: 0
        list-style: none
        li
          border-top: 1px solid $colorGray-2
          text: $colorDarkGray 14px 1
          padding: 8px 15px
          cursor: pointer
          transition: 0.3s all ease
          &:first-child
            border-top: 0
          &:hover
            background: $colorGray-2
          &.sel
            background: $colorGray-4
            text: $colorWhite
            cursor: default
