#overlay
  position: fixed
  top: 0
  left: 0
  size: 100%
  background: rgba($colorBlack,0.7)
  display: none
  z-index: 900
#main
  width: 100%
  overflow: hidden
  min-height: 100vh
figure
  margin: 0 0 11px
  img
    display: block
    width: 100%
figcaption
  text: $colorGray-4 12px
  margin-top: 8px
.justify-content-start
  justify-content: flex-start!important
.justify-content-center
  justify-content: center!important
.justify-content-end
  justify-content: flex-end!important
.justify-content-around
  justify-content: space-around!important
.justify-content-between
  justify-content: space-between!important
.align-self-start
  align-self: flex-start!important
.align-self-center
  align-self: center!important
.align-self-end
  align-self: flex-end!important

.flex-center-cont
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

.hidden
  display: none!important
.show
  display: block!important
.text-center
  text-align: center!important
.text-left
  text-align: left!important
.text-right
  text-align: right!important
.text-justify
  text-align: justify!important
.text-uppercase
  text-transform: uppercase!important
.mr-auto
  margin-right: auto!important
.ml-auto
  margin-left: auto!important
.m-auto
  margin-left: auto
  margin-right: auto
.min-h-full
  min-height: 100%
.h-full
  height: 100%

.w-265
  width: 265px!important
.w-230
  width: 230px!important
.w-140
  width: 140px!important
.w-400
  width: 400px!important

.opacity-0_1
  opacity: .1!important
.opacity-0_2
  opacity: .2!important
.opacity-0_5
  opacity: .5!important

[class*="z-index-"]
  position: relative
.z-index-10
  z-index: 10
.z-index-20
  z-index: 20
.z-index-30
  z-index: 30
.z-index-50
  z-index: 50
.z-index-100
  z-index: 100

.p
  &-0
    padding: 0!important
  &-15
    padding: 15px!important
.pl
  &-0
    padding-left: 0!important
  &-15
    padding-left: 15px!important
.pr
  &-0
    padding-right: 0!important
  &-15
    padding-right: 15px!important
.pb
  &-0
    padding-bottom: 0!important
  &-15
    padding-bottom: 15px!important
.pt
  &-0
    padding-top: 0!important
  &-15
    padding-top: 15px!important
.m
  &-0
    margin: 0!important
  &-8
    margin: 8px!important
  &-10
    margin: 10px!important
  &-15
    margin: 15px!important
  &-20
    margin: 20px!important
  &-30
    margin: 30px!important
  &-50
    margin: 50px!important
  &-mini
    margin: $indentMini!important

.mt
  &-0
    margin-top: 0!important
  &-10
    margin-top: 10px!important
  &-8
    margin-top: 8px!important
  &-15
    margin-top: 15px!important
  &-20
    margin-top: 20px!important
  &-30
    margin-top: 30px!important
  &-50
    margin-top: 50px!important
  &-mini
    margin-top: $indentMini!important
.mr
  &-0
    margin-right: 0!important
  &-10
    margin-right: 10px!important
  &-8
    margin-right: 8px!important
  &-15
    margin-right: 15px!important
  &-20
    margin-right: 20px!important
  &-30
    margin-right: 30px!important
  &-50
    margin-right: 50px!important
  &-mini
    margin-right: $indentMini!important
.mb
  &-0
    margin-bottom: 0!important
  &-10
    margin-bottom: 10px!important
  &-8
    margin-bottom: 8px!important
  &-15
    margin-bottom: 15px!important
  &-20
    margin-bottom: 20px!important
  &-30
    margin-bottom: 30px!important
  &-50
    margin-bottom: 50px!important
  &-mini
    margin-bottom: $indentMini!important
.ml
  &-0
    margin-left: 0!important
  &-10
    margin-left: 10px!important
  &-8
    margin-left: 8px!important
  &-15
    margin-left: 15px!important
  &-20
    margin-left: 20px!important
  &-30
    margin-left: 30px!important
  &-50
    margin-left: 50px!important
  &-mini
    margin-left: $indentMini!important
