.icon
  display: inline-block
  vertical-align: top
  fill: $colorWhite
  &--search
    size: 18px
  &--facebook
    size: 8px 16px
  &--twitter
    size: 16px 13px
  &--arrow-right
    size: 8px 14px
