*
  box-sizing: border-box
:after,
:before
  box-sizing: border-box
body
  min-width: 320px
  font-family: $fontArial
  text: $colorBlack 16px 1.4 400
  background: $colorWhite
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
