.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase

a
  color: $colorBlue
  &:hover
    text-decoration: none
    color: $colorRed

.more-link
  transition: 0.3s all ease
  text: 13px 1
  text-decoration: none

.fw-100
  font-weight: 100!important
.fw-300
  font-weight: 300!important
.fw-500
  font-weight: 500!important
.fw-700
  font-weight: 700!important
.fw-bold
  font-weight: bold!important
.fw-900
  font-weight: 900!important

.h1,h1,.h2,h2,.h3,h3
  margin: 1em *
  text: $colorBlack
.h1,h1
  font-size: 26px @md 30px
.h2,h2
  font-size: 20px @md 22px
  font-weight: 400
.h3,h3
  font-size: 16px @md 18px
  font-weight: 400
  margin: 25px 0 1px
  color: $colorGray

.category-title
  text: $colorBlack 16px 1 bold uppercase
  position: relative
  margin: 0 0 $indentDefault
  span
    background: $colorWhite
    padding-right: 12px
    position: relative
    z-index: 10
    display: inline-block
    vertical-align: top
  &:before
    position: absolute
    top: 50%
    left: 0
    margin-top: -4px
    size: 100% 8px
    display: block
    content: ''
    background: $colorLightGray
.main-title
  margin: -7px 0 19px
p
  text: $colorDarkGray
  margin: 0 0 15px
  line-height: 1.8
.list-dot
  padding: 0
  margin: 0
  list-style: none
  a
    text-decoration: none
  li
    position: relative
    padding: 0 0 0 28px
    margin-bottom: 11px
    text: 14px
    &:before
      size: 6px
      display: block
      position: absolute
      content: ''
      background: $colorBlack
      border-radius: 100%
      top: 6px
      left: 12px
