-    
  var headerNav = [
    {
      name: 'News',
      href: 'index.html',
      addClass: 'header__nav-link--active'
    },
    {
      name: 'Technology',
      href: 'index.html',
      addClass: ''
    },
    {
      name: 'Manufacturing',
      href: 'index.html',
      addClass: ''
    },
    {
      name: 'Plants +',
      href: '#plants-menu',
      addClass: 'header__nav-drop-btn'
    },
    {
      name: 'Markets +',
      href: '#markets-menu',
      addClass: 'header__nav-drop-btn'
    },
    {
      name: 'Directory +',
      href: '#directory-menu',
      addClass: 'header__nav-drop-btn'
    },
    {
      name: 'Publish +',
      href: '#publish-menu',
      addClass: 'header__nav-drop-btn'
    }
  ]
  
  var headerSubNav = [
    {
      name: 'Global + ',
      href: '#global-menu',
      addClass: 'header__nav-drop-btn'
    },
    {
      name: 'Market Research',
      href: '#',
      addClass: ''
    },
    {
      name: 'Storage',
      href: '#',
      addClass: ''
    },
    {
      name: 'BIPV',
      href: '#',
      addClass: ''
    },
    {
      name: 'Large-Scale',
      href: '#',
      addClass: ''
    },
    {
      name: 'Inverters',
      href: '#',
      addClass: ''
    },
    {
      name: 'Grids',
      href: '#',
      addClass: ''
    },
    {
      name: 'Events',
      href: '#',
      addClass: ''
    },
    {
      name: 'Installers',
      href: '#',
      addClass: '',
      addClass: ''
    },
    {
      name: 'Software',
      href: '#',
      addClass: ''
    }
  ]
                                   

                                                                                         
