extends layouts/layout.pug

block title
  title Main page

block content
  include blocks/banner-large
  .main-container.main-cont
    .flex-p-wrap
      .content 
        .flex-p-wrap
          .content-small 
            h3.category-title 
              span News 
            .news-list
              +newsListItemImg('img/pic-1.jpg','ROUND-UP: Rendeavour’s 30MW PV strategy in Kenya, Cypress Creek powers Starbucks & more','2 hours ago')
              +newsListItemImg('img/pic-2.jpg','Xinte Energy issues Q1 profit warning as polysilicon ASPs continue to decline','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              +newsListItem('Oil giant Petronas to buy C&I solar specialist Amplus Moldova inches closer to first large-scale renewable auction','2 hours ago')
              a(href="").more-link more
          .aside-small 
            h3.category-title 
              span!="Markets & Finance" 
            .news-list
              +newsListItem('ROUND-UP: Rendeavour’s 30MW PV strategy in Kenya, Cypress Creek powers Starbucks & more','Apr 10, 2019')
              +newsListItem('Xinte Energy issues Q1 profit warning as polysilicon ASPs continue to decline','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО" довший текст','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              +newsListItem('Аналітика від компанфї "КІНТО"','Apr 10, 2019')
              a(href="").more-link more
      .aside 
        include blocks/aside
    .flex-p-wrap
      .content
        .news-group-wrap
          .flex-p-wrap 
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Market Research 
                .news-list
                  +newsListItem('Третий энергоблок Ровенской АЭС подключили к сети','1 мая 2019 года')
                  +newsListItem('Петр Порошенко продал торговый центр в Кишиневе','2 мая 2019 года')
                  +newsListItem('Новый посол Великобритании прибудет в Украину летом','2 мая 2019 года')
                  +newsListItem('Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года')
                  a(href="").more-link more
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Press Releases
                .news-list
                  +newsListItem('В мире отмечается рост убийств евреев и случаев проявления насилия в отношении них','1 мая 2019 года')
                  +newsListItem('В Тернопольской области усилилась угроза наводнения','2 мая 2019 года')
                  +newsListItem('Зеленский официально объявлен избранным президентом Украины','2 мая 2019 года')
                  +newsListItem('1 мая в большинстве регионов Украины ожидаются грозы, сильные дожди, град','2 мая 2019 года')
                  a(href="").more-link Все рекомендации
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Technology and R&D 
                .news-list
                  +newsListItem('Третий энергоблок Ровенской АЭС подключили к сети','1 мая 2019 года')
                  +newsListItem('В мире отмечается рост убийств евреев и случаев проявления насилия в отношении них','1 мая 2019 года')
                  +newsListItem('1 мая в большинстве регионов Украины ожидаются грозы, сильные дожди, град','2 мая 2019 года')
                  +newsListItem('Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года')
                  a(href="").more-link Все обзоры
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Large-Scale
                .news-list
                  +newsListItem('В мире отмечается рост убийств евреев и случаев проявления насилия в отношении них','1 мая 2019 года')
                  +newsListItem('В Тернопольской области усилилась угроза наводнения','2 мая 2019 года')
                  +newsListItem('Зеленский официально объявлен избранным президентом Украины','2 мая 2019 года')
                  +newsListItem('1 мая в большинстве регионов Украины ожидаются грозы, сильные дожди, град','2 мая 2019 года')
                  a(href="").more-link Все рекомендации
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Storage
                .news-list
                  +newsListItem('Третий энергоблок Ровенской АЭС подключили к сети','1 мая 2019 года')
                  +newsListItem('Петр Порошенко продал торговый центр в Кишиневе','2 мая 2019 года')
                  +newsListItem('Новый посол Великобритании прибудет в Украину летом','2 мая 2019 года')
                  +newsListItem('Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года')
                  a(href="").more-link Все обзоры
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span Opinion
                .news-list
                  +newsListItemImgSmall('img/pic-3.jpg','Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года','2 мая 2019 года')
                  +newsListItemImgSmall('img/pic-4.jpg','Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года','2 мая 2019 года')
                  +newsListItemImgSmall('img/pic-5.jpg','Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года','2 мая 2019 года')
                  +newsListItemImgSmall('img/pic-3.jpg','Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года','2 мая 2019 года')
                  +newsListItemImgSmall('img/pic-4.jpg','Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года','2 мая 2019 года')
                  a(href="").more-link Все мнения
            .col-1.col-sm-1-2
              .news-group
                h3.category-title 
                  span BIPV
                .news-list
                  +newsListItem('Третий энергоблок Ровенской АЭС подключили к сети','1 мая 2019 года')
                  +newsListItem('В мире отмечается рост убийств евреев и случаев проявления насилия в отношении них','1 мая 2019 года')
                  +newsListItem('1 мая в большинстве регионов Украины ожидаются грозы, сильные дожди, град','2 мая 2019 года')
                  +newsListItem('Выручка "Метинвест" выросла на $32 млн','2 мая 2019 года')
                  a(href="").more-link Все обзоры
      .aside 
  include blocks/footer-2
