include ../inc/var.pug
include ../inc/mixins.pug

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    block title
      title Title
    link(href="styles/main.css" rel="stylesheet")

  body
    #overlay
    main#main
      include ../blocks/header.pug
      block content
    include ../blocks/modal.pug
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/libs.min.js")
    script(type="text/javascript" src="scripts/main.js")
